<h2>Chat App Socket.io</h2>
<div class='content row d-flex justify-content-center'>
    <div class='sidebar col col-1 col-md-0 col-lg-3 col-sm-0'></div>
    <div class='chatbox col col-9 col-md-10 col-lg-8 col-sm-10'>
        <div class='chat_header'>
            <div class='room_info'>
                <div class='room_avatar'></div>
                <div class='room_name'>
                    Anh chị em 20 +++
                </div>
            </div>
            <div class='chat_options'>
                <button class='chat_btn'><i class='fa-solid fa-phone'></i></button>
                <button class='chat_btn'><i class='fa-solid fa-video'></i></button>
                <button class='chat_btn'><i class='fa-solid fa-ellipsis'></i></button>
            </div>
        </div>
        <div class='message'>
        </div>
        <form name='mess_form' class='mess_form'>
            <div class='scroll_bottom'><i class='fa-solid fa-chevron-down'></i></div>
            <div class='chat_btn form_icon' id='share_location_btn'><i class='fa-solid fa-location-pin'></i></div>
            <div class='chat_btn form_icon'><i class='fa-solid fa-circle-plus'></i></div>
            <div class='chat_btn form_icon' type='file'><i class='fa-solid fa-image'></i></div>
            <div class='chat_btn form_icon'><i class='fa-solid fa-file'></i></div>
            <input name='message' class='mess_input' spellcheck='false' type='text' placeholder='Aa' required autocomplete='off' />
            <button class='chat_btn mess_send' type='submit'><i class='fa-solid fa-paper-plane'></i></button>
        </form>

    </div>
    <script id='sidebar_template' type='text/html'>
        {{#raw}}
            <h3 class="room_title">ROOM:
            \{{room}}</h3> <h3 class="list_title">Online(\{{users.length}})</h3> <ul class="users">
            \{{#users}} <li>\{{username}}</li>
            \{{/users}} </ul>
        {{/raw}}
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js'></script>
    <script src='/socket.io/socket.io.js'></script>

    <script src='/js/lib/moment.js'></script>
    <script src='/js/lib/qs.js'></script>
    <script src='/js/chat.js'></script>
</div>