<div class='container'>
    <div class='row d-flex justify-content-center mt-5 mb-5'>
        <div class='col-11 col-md-9 col-sm-11'>
            <h3>Insert New Password</h3>
                <p class="text-success font-weight-bold">Password requirements: Long(6-16),Upercase,Special Character</p>
            <form action='/users/update?_method=PATCH' method='post'>
                <div class='form-group'>
                    <input name='userId' style='display:none' value={{userId}}></inputname='password'>
                    <input name='resetToken' style='display:none' value={{resetToken}}></inputname='password'>


                    <div>  
                        <label for='password'>New Password</label>
                        <input name='password' type='password' class='form-control' id='password' placeholder='New password' />
                        <span class="text-danger pass-invalid pl-2" style="visibility:hidden"></span>
                    </div>
                    <div>
                        <label for='confirmpassword'>Confirm Password</label>
                        <input type='password' class='form-control' id='confirmpassword' placeholder='Confirm password' />
                        <span class="text-danger pass-not-match pl-2" style="visibility:hidden">Password not match!</span>

                    </div>
                </div>
                <button type='submit' class='btn btn-primary  btn-block'>Submit</button>
            </form>
            <a class='btn btn-primary mt-2 btn-block' href='/' role='button'>Home</a>
        </div>
    </div>
</div>
{{! prettier-ignore }}
<script>
    const passInput = document.querySelector('#password')
    const passConfirm = document.querySelector('#confirmpassword')

    passInput.addEventListener('input',() => {
        document.querySelector('.pass-invalid').style.visibility = 'hidden'
    })
    passInput.addEventListener('blur',() => {
        if(passInput.value.trim().length === 0 ) {
             document.querySelector('.pass-invalid').innerText= `Password is not empty!`
            return document.querySelector('.pass-invalid').style.visibility = 'visible'
        }
        if(!passInput.value.trim().match(/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/)) {
            document.querySelector('.pass-invalid').innerText= `Password invalid!`
            return document.querySelector('.pass-invalid').style.visibility = 'visible'
        }
    })
      passConfirm.addEventListener('input',() => {
        document.querySelector('.pass-not-match').style.visibility = 'hidden'

        
    })
    passConfirm.addEventListener('blur',() => {
       if(passConfirm.value.trim() !== passInput.value.trim()) {
                       document.querySelector('.pass-not-match').style.visibility = 'visible'

       }
    })

</script>